.flex {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5rem;
}

.card__container {
  background-color: rgb(215, 212, 212);
  width: 320px;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
}

.card__top {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 200px;
  margin-bottom: 1rem;
}
.splide__pic {
  background-color: rgb(198, 194, 194);
  height: 200px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.card__bttm {
  background-color: var(--white);
  border-radius: 20px;
  padding: 0 1rem 1rem;
}

.doc__title {
  font-size: 1.5rem;
  font-weight: 300;
}

.doc__ifo {
  font-size: 0.8rem;
  font-weight: 300;
}

.doc__btn {
  height: 1.6rem;
  background-color: var(--blue);
  border: none;
  border-radius: 10px;
  font-weight: 300;
  color: var(--white);
  width: 90px;
  transition: all 0.4s;
}

.doc__btn:hover {
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 4px 20px 0 rgba(18, 22, 79, 0.37);
}
